@font-face {
   font-family: 'Tenor Sans';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///G:/.shortcut-targets-by-id/1LdTzZJkTtErhSdZwBoQ6dOyX-ST-dwUa/WebFirebase/public/fonts/Tenor Sans/regular.ttf') format('truetype');
}
