{{ define "main" }}

<section data-bs-version="5.1" class="content3 cid-viKUxaBqdW" id="content3-g">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Seccion</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/product5.jpg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-4"><em>Fecha</em></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Titular</strong></h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/product4.jpg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-4"><em>Fecha</em></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Titular</strong>
                        </h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/assets/images/product3.jpg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-4"><em>Fecha</em></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Titular</strong></h6>
                        
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper" style="background: green;">
                    <div class="item-img">
                        <img src="/assets/images/mbr-874x1920.jpg" alt="" title="" style="width:100%; height:300px; object-fit:cover;">
                    </div>
                    	<div class="item-content p-3">
                        <h5 class="item-title mbr-fonts-style display-4"><em>Fecha</em></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Titular</strong></h6>
                        
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>


{{ end }}