<section data-bs-version="5.1" class="footer1 cid-viuj780aoj" once="footers" id="footer1-3y">

<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script src="/assets/smoothscroll/smooth-scroll.js"></script>  
<script src="/assets/ytplayer/index.js"></script>  
<script src="/assets/dropdown/js/navbar-dropdown.js"></script>  
<script src="/assets/theme/js/script.js"></script>

    
<div class="container">    

        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Parroquia San Francisco y Santa Clara de Asís</strong></h5>
                <ul class="list mbr-fonts-style display-4">&nbsp;</ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Dirección</strong></h5>
                <ul class="list mbr-fonts-style display-4">

                    <li class="mbr-text item-wrap">Calle de Suecia, 2, 28942 Fuenlabrada, Madrid</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Contacto</strong></h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Teléfono: 666 666 666</li><li class="mbr-text item-wrap">Email: gmail@gmail.com</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Información legal</strong></h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4"><a href="/legal.html" class="text-white">Aviso legal</a><br><a href="/privacidad.html" class="text-white">Política de privacidad</a><br><a href="/cookies.html" class="text-white">Política de cookies</a></p>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>También estamos en:</strong></h5>
                <div class="social-row display-7">
                    <div class="soc-item">
                        
                            <a href="https://www.instagram.com/san.franciscoyclara/"><span class="mbr-iconfont socicon-instagram socicon"></span></a>
                        
                    </div>
                    <div class="soc-item">
                        <a href="https://wa.me/34666666666">
                            <span class="mbr-iconfont socicon-whatsapp socicon"></span>
                        </a>
                    </div>
                    
                    
                </div>
            </div>
            
        </div>
</div>
</section>