<section data-bs-version="5.1" class="menu menu2 cid-sFHpMqcXGj" once="menu" id="menu2-2">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="/assets/images/iconosfyc-72x72.png" alt="Parroquia San Francisco y Santa Clara de Asís" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-info text-primary display-7" href="/">Parroquia SFSC</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">

        <!-- PARROQUIA -->
        <li class="nav-item dropdown">
            <a class="nav-link link text-black text-primary dropdown-toggle display-4"
               href="#"
               id="dropdown-parroquia"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                PARROQUIA
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdown-parroquia">
                <a class="text-black text-primary dropdown-item display-4" href="/santos-patronos.html">Santos Patronos</a>
		<a class="text-black text-primary dropdown-item display-4" href="/fotos.html">Fotos</a>
                <a class="text-black text-primary dropdown-item display-4" href="/ubicacion.html">Cómo llegar</a>
                <a class="text-black text-primary dropdown-item display-4" href="/contacto.html">Contacto</a>
                <a class="text-black text-primary dropdown-item display-4" href="/donativos.html">Donativos</a>
            </div>
        </li>

        <!-- HORARIOS -->
        <li class="nav-item">
            <a class="nav-link link text-black text-primary display-4" href="/index.html#features8-2">
                HORARIOS
            </a>
        </li>

        <!-- SACRAMENTOS -->
        <li class="nav-item dropdown">
            <a class="nav-link link dropdown-toggle text-black display-4"
               href="#"
               id="dropdown-sacramentos"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                SACRAMENTOS
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdown-sacramentos">
                <a class="dropdown-item text-black display-4" href="/bautismo.html">Bautismo</a>
                <a class="dropdown-item text-black display-4" href="/comunion.html">Comunión</a>
                <a class="dropdown-item text-black display-4" href="/confirmacion.html">Confirmación</a>
                <a class="dropdown-item text-black display-4" href="/matrimonio.html">Matrimonio</a>
                <a class="dropdown-item text-black display-4" href="/confesion.html">Confesión</a>
                <a class="dropdown-item text-black display-4" href="/ordensacerdotal.html">Orden Sacerdotal</a>
                <a class="dropdown-item text-black display-4" href="/uncionenfermos.html">Unción de enfermos</a>
            </div>
        </li>

        <!-- ACTIVIDADES -->
        <li class="nav-item dropdown">
            <a class="nav-link link dropdown-toggle text-black display-4"
               href="#"
               id="dropdown-actividades"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                ACTIVIDADES
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdown-actividades">
                <a class="dropdown-item text-black display-4" href="/grupos.html">Grupos</a>
                <a class="dropdown-item text-black display-4" href="/calendario.html">Calendario</a>
                <a class="dropdown-item text-black display-4" href="/tablon.html">Tablón</a>
            </div>
        </li>

        <!-- NOTICIAS -->
        <li class="nav-item">
            <a class="nav-link link text-black text-primary display-4" href="/noticias/">
                NOTICIAS
            </a>
        </li>

    </ul>

</div>
        </div>
    </nav>
</section>
<hr>
{{ range .Site.Menus.main }}
  <a href="{{ .URL }}">{{ .Name }}</a>
{{ end }}