{{- $imagen := .Params.image -}}
{{- $imagenDefault := "/assets/images/blog/default.webp" -}}

{{- if not $imagen -}}
  {{- $imagen = $imagenDefault -}}
{{- else -}}
  {{- $rutaImagen := printf "static%s" $imagen -}}
  {{- if not (fileExists $rutaImagen) -}}
    {{- $imagen = $imagenDefault -}}
  {{- end -}}
{{- end -}}

<img src="{{ $imagen | relURL }}"
     alt="{{ .Title }}"
     width="637"
     height="637"
     loading="lazy"
     style="width: 100%; height: 100%; aspect-ratio: 1 / 1; object-fit: cover;">