{{ define "main" }}

<section data-bs-version="5.1" class="gallery08 cid-viEPa2ErWO" id="gallery08-2">
  


  <div class="container-fluid gallery-wrapper">

    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item display-1" data-word="Dream • Create • Inspire">Dream • Create • Inspire
        </div>
      </div>
    </div>

    <div class="ticker-wrap">
      <div class="ticker ticker__center">
        <div class="ticker__item display-1" data-word="From idea to reality • Start small">From idea to reality • Start small
        </div>
      </div>
    </div>

    <div class="ticker-wrap">
      <div class="ticker ticker__end">
        <div class="ticker__item display-1" data-word="Be fearless • Start now!">Be fearless • Start now!
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}